*::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: teal; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}
